{% extends 'base.html' %}  {% import 'macros.html' as macro %}  {% import 'bootstrap/wtf.html' as wtf %} {% block
    content %}

    <div class="page-wrapper">
      {% include 'navbar.html'%}
      {% include 'add-post-modal.html'%}
      <div class="content-wrapper">
        <div class="category-well">
          <h1>{{category_name}}</h1>
          {%if posts|length%}
          <p> All {{category_name}} Pitches</p>
          {%else%}
          <h2>Default pitches to display here</h2>
          <h3>INFORMATIONAL PITCH</h3>
          <div class="default"><span>Dear Publication</span><br><br>
            I am a political science major and a writer for my campus newspaper. I’m interested in writing a story <br>
            for your publication with an alternative view of the Patriot Act, because I think it’s really important for <br>
            students to know about and understand. Would you be interested in a piece like this? <br><br>
            <span>Thanks,</span><br><br>
            John Belac Cena  <button class="button">Add Comment</button><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write you comment here" aria-label="Recipient's username with two button addons">
                <button class="btn btn-outline-secondary" type="button" class="button">Send</button>
              </div><br>

                <a href="#" onClick="document.getElementById('likebutton').submit()">Like</a>  |   <a href="#" onClick="document.getElementById('dislikebutton').submit()">Dislike</a>


        </div>
          {%endif%}
        </div>
        <div class="category-posts">
          {{macro.displayPosts(posts)}}
        </div>
      </div>
    </div>
    {% endblock %}