{% extends 'base.html' %}  {% import 'macros.html' as macro %}  {% import 'bootstrap/wtf.html' as wtf %} {% block
    content %}

    % block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}
    <div class="page-wrapper">
      {% include 'navbar.html'%}
      {% include 'add-post-modal.html'%}
      <div class="content-wrapper">
        <div class="category-well">
          <h1>{{category_name}}</h1>
          {%if posts|length%}
          <p> All {{category_name}} Pitches</p>
          {%else%}
          <p>No {{category_name}} pitches to display here</p>
          {%endif%}
        </div>
        <div class="category-posts">
          {{macro.displayPosts(posts)}}
        </div>
      </div>
    </div>
    {% endblock %}